{% extends 'views/layouts/main.twig' %}
{% block title %}{{ App.name }} - Error{% endblock %}
{% set bcs = ['Error'] %}
{% block content %}
<h2>Error {{ this.code }}</h2>

<div class="error">
{{ C.Html.encode(this.message) }}
</div>
{% endblock %}